h1{
    display: flex;
    justify-content: center;
}

.space{
    height: 100px;
    width: 100px;
    background-color: black;
}
#board{
    display: grid;
    grid-template-columns: 1fr, 1fr, 1fr;
    grid-template-columns: repeat(3, 1fr);
    gap: 10px;
}